#saying {
	margin-bottom: .75em !important;
	width: 960px;
	overflow: hidden;
	text-align: left;
	margin-top: 40px;
}
.actionsWrapper {
	width: 960px;
	margin-left: -100px;
}
#topNav ul li a div {
	display: none !important;
}
#contactWidth {
	padding-bottom: 15px;
}
.post {
	margin-top: 1.5em !important;
}
.dateWrapper { 
	float: none !important;
	width: auto !important;
	height: auto !important;
}
#actions div {
	text-align: right !important;
	float: right;
	clear: both;
	zoom: 1;
	height: 1.08em !important;
}
#logoTag {
	line-height: .7em !important;
}
.popover {
	position: absolute !important;
	margin-left: 0%;
	margin-top: -25px !important;
}
#emailWrapper {
	margin-left: 0em !important;
}
.workTag .period {
	margin-top: -.45em !important;
}
#workWrapper hr {
	display: none;
}