
body { 
	padding: 0; 
	margin: 0; 
	background-color: #fdfdfd; 
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2); 
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; 
	font-weight: 400;  
	overflow-x: hidden;
}
p { 
	text-shadow: none !important; 
	line-height: 160%; 
}
*::selection {
	background-color: #ebff00;
}
img { border: none; }
img,
embed,
object,
video {
  max-width: 100%;
}
.wrapper {
	max-width: 980px;
	margin: 0 auto;
	font-size: 100%;
	padding-top: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	font-family: Helvetica, Arial, sans-serif;
}
#contactWrapper {
	position: fixed;
	z-index: 50;
	width: 100%;
	top: -320px;
	border-bottom: 3px solid #dd4b39;
	background-color: #e5e5e5;	
	background: url("../img/vertStripe.png") top left repeat #ddd;
	outline: 1px solid transparent; /*added to remove phantom lines in chrome after animate */
}
#contactWrapper h3 {
	color: #4a4a4a; 
	text-shadow: 1px 1px 1px #fff; 
	font-weight: bold;
	float: left;
	margin: 0 10px 15px 10px;
	width: 27%;
}
#contactWidth {
	width: 30%;
	min-width: 800px; 
	margin: 0 auto;
	padding-bottom: 35px;
	margin-top: 15px;
}
#contactWidth .leftSide {
	width: 49.875%;
	float: left; 
	text-align: center;
	border-right: 1px solid #aaa; 
	margin-top: 15px;
}
#contactWidth .rightSide {
	width: 48.125%;
	float: left; 
	padding-left: 15px;
	margin-top: 17px;
}
#contactWidth a {
	color: #dd4b39; 
	text-decoration: none;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-shadow: 1px 1px 1px #fff;
}
#contactWidth a:hover {
	text-shadow: 2px 2px 2px #bdbdbd !important;
	color: #333;
	background-color: #ebff00;
}
.contactAction {
	letter-spacing: 1px;
	color: #6a6a6a;
	font-family: 'Bebas';
	color: #3c3c3c;
	text-shadow: 2px 2px 2px #bbb;
	font-size: 1.25em;
}
.contactLink {
	color: #dd4b39;
	font-family: 'Kelly Slab'; 
	font-size: 1.8em; 
	margin-bottom: 10px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #fff;
}
#contactLang {
	color: #6a6a6a; 
	font-family: 'Bebas'; 
	letter-spacing: 1px;
	font-size: 1.75em;
	font-weight: 700;
	color: #3c3c3c;
	text-shadow: 2px 2px 2px #aaa;
}
#contactWrapper #close {
	margin: 0 auto;
	margin-bottom: -.3em;
	text-align: center;
}
#contactWrapper #close:hover {
	cursor: pointer;
}
#topNav {
	padding-top: 0px;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	letter-spacing: 1px;
}
#topNav ul {
	float: right;
	list-style: none;
	/* margin-right: 5em; */
}
#topNav ul li {
	float: left;
	margin-left: 3em;
	text-align: center;
}
#topNav #home {
	margin-left: 1.5em !important;
}
#topNav ul li a {
	color: #aaa;
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	outline: none !important;
}
#topNav ul li a:hover {
	color: #aaa;
	text-decoration: none;
	text-shadow: 2px 1px 3px #aaa; 
}
#topNav ul li a div {
	display: none;
}
.topNavText { 
	display: none;
	line-height: 125%; 
	text-align: right;
	font-family: 'Bebas';
	font-size: 2em;
	color: #aaa;
	text-shadow: 2px 2px 1px #fff !important;
	margin-right: 25px;
}
#logo {
	font-family: 'Kelly Slab';
	font-size: 2.5em;
	float: left;
	color: #3c3c3c;
	text-shadow: 2px 2px 2px #aaa;
}
#logo #logoTag {
	font-size: .5em;
	line-height: .6em;
	text-align: right;
	text-shadow: none;
	color: #aaa;
	font-family: "Bebas";
	letter-spacing: 1px;
}
.clear {
	clear: both;
	zoom: 1;
}
#contentWrapper {
	margin-top: 10em;
}
.post {
	margin: 0;
	margin-top: 5.5em;
}
.post:first-child {
	margin-top: 0em;
}
.post .contentWrapper {
	width: 90%;
	float: right;
}
.postDate {
	border: 3px solid #dd4b39;
	color: #dd4b39;
	font-weight: bold;
	padding: 1.22448979% 0.8163265%;
	font-size: 1.25em;
	float: left;
	margin-right: 1.5306%;
}
.postDate div {
	position: absolute;
	font-size: 3em;
	margin-left: -10px;
	margin-top: -22px;
	color: rgb(248, 240, 240);
	z-index: -1;
	text-shadow: none;
}
.postTags {
	margin-top: 5px;
	margin-bottom: 1.5em;
}
.postTags ul{
	list-style: none;
	display: table;
	margin: 0;
	padding-left: 1.15em;
}
.postTags ul li {
	float: left;
	display: table-cell;
	font-size: .7em;
	text-shadow: none;
	padding-right: 2em;
}
.postTags ul li a {
	color: #aaa;
	text-decoration: none;
	transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-webkit-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
}
.postTags ul li a:hover {
	color: #666;
	text-decoration: underline;
}
.postTitle {
	display: inline;
	font-size: 2.5em;
	font-family: 'Bebas','Helvetica', Arial, sans-serif;
}
.postContent {
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	font-size: 1em;
	line-height: 180%;
	text-indent: 1em;
}
.post .cite {
	width: 30%;
	font-style: italic;
	font-family: Times New Roman;
	font-size: 1.5em;
	line-height: 1.9em;
	color: #777;
}
.post .citeName {
	font-style: normal;
	font-family: 'Bebas';
	letter-spacing: 1px;
	font-size: .75em;
	color: #aaa;
	float: right;
	line-height: 1em;
}
.post .right { 
	float: right;
}
.post .left {
	float: left;
}
.
.post .viewMore {
	float: right;
	margin-right: 2%;
	z-index: 10 !important;
}
.post .postHeaderImg {
	width: 100%;
}
.actionsWrapper {
	display: inline-block;
	
}
.actionsWrapper #theWeb {
	font-family: 'Bebas';
	font-size: 1.75em;
	float: right;
	margin-top: -36px;
}
#saying {
	font-size: 5em;
	text-align: center;
	color: #aaa;
	font-family: 'Kelly Slab';
	margin: 1em 0 2em -.5em;
	padding-top: 1.65em;
}
/* Apply Animations */
#saying #the {
position: relative;
animation:slideInTop 400ms ease-out 1;
-moz-animation:slideInTop 400ms ease-out 1; /* Firefox */
-webkit-animation:slideInTop 400ms ease-out 1; /* Safari and Chrome */
-o-animation:slideInTop 400ms ease-out 1; /* Opera */
}

#saying #actions { 
position: relative;
animation:slideInLeft 400ms;
-moz-animation:slideInLeft 400ms; /* Firefox */
-webkit-animation:slideInLeft 400ms ease-out 1; /* Safari and Chrome */
-o-animation:slideInLeft 400ms; /* Opera */
margin-right: .3em;	
}
#saying #actions div {
	height: 1.08em;
}
#saying #web { 
position: relative;
animation:slideInRight 400ms;
-moz-animation:slideInRight 400ms; /* Firefox */
-webkit-animation:slideInRight 400ms ease-out 1; /* Safari and Chrome */
-o-animation:slideInRight 400ms; /* Opera */
}
#headerWrapper {
	background-color: #fff;
	padding: 7px 3px;
	padding-bottom: 0;
	z-index: 45;
	border-top: 3px solid #dd4b39;
}
#header {
	width: 71.5%;
	margin: 0 auto;
}
.modalWrapper
{
	display: none;
    position:absolute;
    width:100%;
    height:100%;
    background: url("../img/modalBG.png") top left repeat transparent;
    z-index:100;
	top: 0; left: 0;
    text-align:center;
    vertical-align:middle;
}
.modal
{
    position:absolute;
    z-index:101;
	border: 3px solid #eee;
	background-color: #eee;
	color: #000;
	padding: 7px;
	margin: 0 auto;
	top: 25%;
	vertical-align: middle;
	background-color: #e5e5e5;	
	background: url("../img/vertStripe.png") top left repeat #ddd;
	width: 350px;
	left: 50%;
	margin-left: -175px;
}
#modal_sendText {
	padding: 8px 5px;
	border: 1px solid #bbb;
	background-color: #eee;
}
.modalHeader {
	text-align: left;
	margin-left: 8px;
	margin-bottom: 5px;
	color: #555;
	text-shadow: none;
	font-family: 'Bebas';
}
.modalPadding input, .modalPadding textarea {
	width: 95%;
	padding: 3px;
	display: block;
	outline: none;
	margin: 0 auto;
	border: none;
}
.modalPadding textarea {
	margin: 10px auto !important;
	border-bottom: 2px dotted #e0e0e0;
}
#modal_countdown {
	background-color: #fff;
	width: 95%;
	margin: 0 auto;
	margin-top: -17px;
	text-align: right;
	font-size: .65em;
	padding: 1px 2px;
	padding-left: 0px!important;
	color: #aaa;
	text-shadow: none;
}
.empty {
	color: #999;
	font-size: .8em;
	font-style: italic;
}
.sendMessage {
	width: 25px;
	float: right;
	margin: 15px 5px 0 15px;
}
.sendMessage:hover {
	cursor: pointer;
}
.result {
	float: right;
	color: #dd4b39;
	text-shadow: none;
	margin-top: 15px;
	display: none;
}
.popover
{
    position: absolute;
	margin-top: -2.65em;
	margin-left: 6.25em;
	z-index: 1010;
	display: block;
	width: 264px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #444;
	border: 1px solid #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: none;
}
.popover .right {
	margin-left: 10px;
}
.popover.right .arrow /* Small down pointing arrow */
{
	top: 50%;
	left: -11px;
	margin-top: -1.95em;
	border-right-color: #444;
	border-left-width: 0;
	display: none !important;
}
.popover .arrow
{
    border-width: 11px;
    position: relative;
    z-index: 5;
}
.popover .arrow, .popover .arrow:after
{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover textarea, .popover input {
	font-size: .4em;
	width: 95%;
	margin: 0 auto;
	outline: none;
	padding: 3px;
	max-width: 95%;
	min-width: 95%;
}
.popover #sendText, .popover #sendEmail {
	padding: 8px 5px;
	border: none;
	text-align: center;
}
.popover #sendText #textMessage, .popover #sendEmail #emailMessage {
	margin: 10px auto;
	border: 1px solid #aaa;
	border-bottom: none;
	padding-bottom: 1em;
}
.popover #sendText #countdown {
	background-color: #fff;
	width: 96.5%;
	margin: 0 auto;
	margin-top: -10px;
	border: 1px solid #aaa;
	border-top: none;
	text-align: right;
	font-size: .65em;
	padding: 1px 2px;
	padding-left: 0px!important;
	color: #aaa;
	text-shadow: none;
	font-size: .4em;
	font-family: 'Kelly Slab', 'Open Sans', Helvetica, Arial, sans-serif;
	position: relative;
	z-index: 50;
}
.error {
	color: #dd4b39;
	font-size: .8em;
	margin-right: 8px;
}
.popover #sendTextImg, .popover #sendEmail #sendEmailImg {
	width: 25px;
	float: right;
	margin: 5px 10px;
}
.popover #sendTextImg:hover, .popover #sendEmail #sendEmailImg:hover {
	cursor: pointer;
}
.result{
	float: right;
	color: #ebff00;
	font-size: .5em;
	text-shadow: none;
	margin-top: 5px;
	display: none;
}
.modal .sendMessage {
	margin-top: 5px !important;
}
.modal .result {
	font-size: 1em;
	color: #dd4b39;
	font-weight: bold;
	line-height: 1.5em;
}
.contactLink #emailWrapper {
	margin-left: 11.5em;
}
#workWrapper {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5em;
}
.work {
	padding: 3em 0;
	padding-bottom: 2.75em;
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
.work:first-child {
	padding-top: 0em;
}
.work .workImg {
	float: left; 
	margin-right: 15px;
	width: 51.25%;
	overflow: hidden;
	outline: 0;
	text-decoration: none;
}
.work .workContentWrapper {
	float: right; 
	width: 46%;
}
.work .workTitle {
	float: left;
}
.work .workTitle h3 {
	font-family: 'Bebas';
	font-size: 2em;
	margin: 0;
}
.work .workTitle .workType {
	color: #aaa;
}
.viewMore {
	display: block;
	background-color: #dd4b39;
	color: #fff;
	text-decoration: none;
	font-family: 'Helvetica';
	width: 7em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.1em;
	text-shadow: none;
	padding: 3px;
	transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-maz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
}
.viewMore:hover {
	text-shadow: 1px 1px 2px #666;
	background-color: rgb(221, 27, 3);
}
.period {
	color: #dd4b39;
}
#workWrapper hr {
	border: none;
	height: 3px;
	background: url("../img/vertStripe.png") top left repeat-x #fdfdfd;
	width: 100%;
	min-width: 980px;
	max-width: 1050px;
	margin: 0 auto;
	padding-bottom: 4em;
}
.work .workImg .imgOverlay {
	width: 500px !important;
	height: 273px !important;
	background: url("../img/modalBG.png") top left repeat;
	color: #eee;
	font-family: 'Bebas';
	font-size: 6em;
	line-height: 3em;
	text-align: center;
	position: absolute;
	z-index: 5;
	letter-spacing: 4px;
	text-shadow: 2px 2px 2px #000;
	display: none;
}
.work .workImg img:hover, .work .workImg .imgOverlay:hover{
	cursor: pointer;
}
.work .workImg ul {
	list-style: none;
	display: table;
	padding: 0;
	width: 100%;
	margin: 0px;
}
.work .workImg ul li {
	padding: 2px 4px;
	display: table-cell;
	font-family: 'kelly slab';
	color: #aaa;
	text-shadow: none;
}
.work .workImg ul li:first-child {
	padding-left: 0;
}
.workArrow {
	display: none;
	border: 20px solid #000;
	border-color: transparent;
	border-bottom-color: #222;
	margin: 0 75px;
}
.workDetailsWrapper {
	position: relative;
	left: 0;
	right: 0;
	background-color: #222;
	display: none;
	margin-top: -3em;
	width: 100%;
	margin-top: -2em;
}
.workDetails {
	text-align: center;
	padding-top: 15px;
}
.workDetails img {
	width: 609px;
	border: 3px solid #000;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 2px 8px #000;
	-mozilla-box-shadow: 2px 2px 8px #000;
	-o-box-shadow: 2px 2px 8px #000;
	box-shadow: 2px 2px 8px #000;
}
.workDetails img:first-child {
	border: none;
	margin-bottom: 0px;
	-webkit-box-shadow: none;
	-mozilla-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.workDetailsWrapper .closeWork {
	position: absolute;
	top: 1em;
	left: 95%;
	font-family: 'Verdana', 'Helvetica';
	color: #fdfdfd;
	font-size: 3em;
	text-shadow: none;
} 
.workDetailsWrapper .closeWork:hover 
{ cursor: pointer; }
.sectionTitle {
	margin-top: .7em;
	font-family: 'Bebas', 'Helvetica', Arial, sans serif;
	font-size: 15em;
	letter-spacing: 20px;
	color: #e0e0e0;
	text-shadow: none;
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-webkit-backface-visibility: hidden;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	display: none;
	height: 200px;
	width: 505px;
}
#backToTop {
	width: 45px;
	height: 73px;
	background: url("../img/scrollToTop.png") top left no-repeat Transparent;
	float: right;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display: none;
	z-index: 1;
	position: fixed;
	bottom: 6%;
	right: 6%;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
#backToTop:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	cursor: pointer;
}

/* Large-Medium Desktops and Laptops ----------- */
@media all and (max-width: 1440px) and (min-width: 1341px) {
.sectionTitle {
	font-size: 13em !important;
	margin-left: -.84em;
}
}
/* Medium Desktops and Laptops ----------- */
@media all and (max-width: 1340px) and (min-width: 1240px) {
.sectionTitle {
	font-size: 10.5em!important;
	margin-left: -1.2em !important;
	color: #ededed;
}
}
/* Smaller Desktops and Laptops ----------- */
@media all and (max-width: 1239px) {
.sectionTitle {
	font-size: 4em;
	letter-spacing: 5px;
	display: none;
	position: absolute;
	margin-top: -1em !important;
	color: #aaa !important;
	width: 100% !important;
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.workArrow {
	width: 100% !important;
	border: 0px solid #222 !important;
}
}
/* Old Desktops and Laptops ----------- */







/*************************************
	Page Load Animations
************************************/
/* SLIDE IN LEFT */
@keyframes slideInLeft 
{
	0% {
	  left: -1500px;
	}
	90% {
	  left: 20px;
	}
	100% {
	  left: 0px;
	}
}
@-moz-keyframes slideInLeft  /* Firefox */
{
	0% {
	  left: -1500px;
	}
	90% {
	  left: 20px;
	}
	100% {
	  left: 0px;
	}
}
@-o-keyframes slideInLeft  /* Opera */
{
	0% {
	  left: -1500px;
	}
	90% {
	  left: 20px;
	}
	100% {
	  left: 0px;
	}
}
@-webkit-keyframes slideInLeft  /* Safari and Chrome */
{
	0% {
	  left: -1500px;
	}
	90% {
	  left: 20px;
	}
	100% {
	  left: 0px;
	}
}

/* SLIDE IN RIGHT */
@keyframes slideInRight
{
0% {
  right: -1500px;
   }
   90% {
	  right: 20px;
   }
   100% {
	  right: 0px;
   }
}
@-maz-keyframes slideInRight  /* Firefox */
{
0% {
  right: -1500px;
   }
   90% {
	  right: 20px;
   }
   100% {
	  right: 0px;
   }
}
@-o-keyframes slideInRight  /* Opera */
{
0% {
  right: -1500px;
   }
   90% {
	  right: 20px;
   }
   100% {
	  right: 0px;
   }
}
@-webkit-keyframes slideInRight  /* Safari and Chrome */
{
0% {
  right: -1500px;
   }
   90% {
	  right: 20px;
   }
   100% {
	  right: 0px;
   }
}

/* SLIDE IN BOTTOM */
@keyframes slideInBottom
{
	0% {
	  bottom: -1500px;
	}
	90% {
		bottom: 20px;
	}
	100% {
	  bottom: 0px;
	}
}
@-moz-keyframes slideInBottom  /* Firefox */
{
	0% {
	  bottom: -1500px;
	}
	90% {
		bottom: 20px;
	}
	100% {
	  bottom: 0px;
	}
}
@-o-keyframes slideInBottom  /* Opera */
{
	0% {
	  bottom: -1500px;
	}
	90% {
		bottom: 20px;
	}
	100% {
	  bottom: 0px;
	}
}
@-webkit-keyframes slideInBottom  /* Safari and Chrome */
{
	0% {
	  bottom: -1500px;
	}
	90% {
		bottom: 20px;
	}
	100% {
	  bottom: 0px;
	}
}

/* SLIDE IN TOP */
@keyframes slideInTop
{
	0% {
	  top: -1600px;
	}
	80% {
		top: 30px;
	}
	100% {
	  top: 0px;
	}
}
@-moz-keyframes slideInTop  /* Firefox */
{
	0% {
	  top: -1600px;
	}
	80% {
		top: 30px;
	}
	100% {
	  top: 0px;
	}
}
@-o-keyframes slideInTop  /* Opera */
{
	0% {
	  top: -1600px;
	}
	80% {
		top: 30px;
	}
	100% {
	  top: 0px;
	}
}
@-webkit-keyframes slideInTop  /* Safari and Chrome */
{
	0% {
	  top: -1600px;
	}
	80% {
		top: 30px;
	}
	100% {
	  top: 0px;
	}
}
